.header{
	margin-top:20px;
}

.title{
	font-size:2.75rem;
}

.value-prop h4{
	font-size:2.5rem;
}

.section{
	padding:5rem;
}

.subpage-heading{
	margin-top:2rem;
	text-transform:none;
}

.hope-acr{
	text-align:left;
}

img{
	max-width:100%;
	max-height:100%;
}

.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    margin-bottom:15%;
}